PROJECT_ID=
LOCATION_CODE=
RESPONSE_MODEL=
THINKING_BUDGET=

SENDER_EMAIL=
CONFIRMATION_ADDRESSEES=

DATA_EXCEL_TAB_NAME=Dane
DATA_EXCEL_START_ROW=2
DATA_EXCEL_TERYT_COLUMN=A
DATA_EXCEL_AUTHORITY_NAME_COLUMN=B
DATA_EXCEL_GOVERNOR_TITLE_COLUMN=C
DATA_EXCEL_GOVERNOR_GENDER_COLUMN=D
DATA_EXCEL_GOVERNOR_NAME_COLUMN=E
DATA_EXCEL_AUTHORITY_OFFICE_NAME_COLUMN=F
DATA_EXCEL_AUTHORITY_OFFICE_MAIL_COLUMN=G

REPORT_EXCEL_TAB_NAME=Raport
REPORT_EXCEL_START_ROW=2
REPORT_EXCEL_TERYT_COLUMN=A
REPORT_EXCEL_LAST_ANSWER_DATE_COLUMN=F
REPORT_EXCEL_NEEDS_ATTENTION_COLUMN=G
REPORT_EXCEL_ADDITIONAL_CONTEXT_COLUMN=H
REPORT_EXCEL_OFFERS_INTERNSHIPS_COLUMN=I
REPORT_EXCEL_ARE_INTERNSHIPS_PAID_COLUMN=J
REPORT_EXCEL_PLANS_PAID_INTERNSHIPS=K
REPORT_EXCEL_PAID_INTERNSHIPS_NUMBER_COLUMN=L
REPORT_EXCEL_INTERNSHIPS_SALARIES_COLUMN=M
REPORT_EXCEL_ADDITIONAL_INFO_COLUMN=N

DATA_EXCEL_FILE_PATH=assets/data.xlsx
REPORT_EXCEL_FILE_PATH=assets/report.xlsx
REPORT_TEMPLATE_EXCEL_FILE_PATH=assets/report_template.xlsx
APPLICATION_TEMPLATE_PATH=assets/application.docx
MAIL_ANALYSIS_PROMPT_PATH=assets/mail_analysis/prompt.txt
MAIL_ANALYSIS_RESPONSE_SCHEMA_PATH=assets/mail_analysis/response_schema.txt
TERYT_MATCHER_PROMPT_PATH=assets/teryt_matcher/prompt.txt
TERYT_MATCHER_RESPONSE_SCHEMA_PATH=assets/teryt_matcher/response_schema.txt

TMP_PATH=tmp
ATTACHMENTS_DIR_PATH=tmp/attachments