PROJECT_ID=
LOCATION_CODE=
RESPONSE_MODEL=
THINKING_BUDGET=

SENDER_EMAIL=
CONFIRMATION_ADDRESSEES=

EXCEL_FILE_TAB_NAME=Dane
EXCEL_FILE_START_ROW=2
EXCEL_FILE_TERYT_COLUMN=A
EXCEL_FILE_AUTHORITY_NAME_COLUMN=B
EXCEL_FILE_GOVERNOR_TITLE_COLUMN=C
EXCEL_FILE_GOVERNOR_GENDER_COLUMN=D
EXCEL_FILE_GOVERNOR_NAME_COLUMN=E
EXCEL_FILE_AUTHORITY_OFFICE_NAME_COLUMN=F
EXCEL_FILE_AUTHORITY_OFFICE_MAIL_COLUMN=G

EXCEL_FILE_PATH=assets/data.xlsx
APPLICATION_TEMPLATE_PATH=assets/application.docx
MAIL_ANALYSIS_PROMPT_PATH=assets/mail_analysis/prompt.txt
MAIL_ANALYSIS_RESPONSE_SCHEMA_PATH=assets/mail_analysis/response_schema.txt
TERYT_MATCHER_PROMPT_PATH=assets/teryt_matcher/prompt.txt
TERYT_MATCHER_RESPONSE_SCHEMA_PATH=assets/teryt_matcher/response_schema.txt

TMP_PATH=tmp
ATTACHMENTS_DIR_PATH=tmp/attachments