EXCEL_FILE_PATH=assets/data.xlsx
EXCEL_FILE_TAB_NAME=Dane
EXCEL_FILE_START_ROW=2
EXCEL_FILE_TERYT_COLUMN=A
EXCEL_FILE_AUTHORITY_NAME_COLUMN=B
EXCEL_FILE_GOVERNOR_TITLE_COLUMN=C
EXCEL_FILE_GOVERNOR_GENDER_COLUMN=D
EXCEL_FILE_GOVERNOR_NAME_COLUMN=E
EXCEL_FILE_AUTHORITY_OFFICE_NAME_COLUMN=F
EXCEL_FILE_AUTHORITY_OFFICE_MAIL_COLUMN=G

APPLICATION_TEMPLATE_PATH=assets/application.docx

TMP_PATH=tmp

SENDER_EMAIL=
CONFIRMATION_ADDRESSEES=